<!DOCTYPE html>
<html>
<head>
    <title>Attendance Form</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id="feedback-form">
        <h1 class="header">Attendance Form</h1>
        <div>
            <form action="{{ url_for('presensi') }}" method="post">
                <input type="text" id="name" name="name" placeholder="Name" required><br><br>
                <input type="text" id="student-id" name="student-id" placeholder="Student ID" required><br><br>
                <input type="text" id="subject" name="subject" placeholder="Subject" required><br><br>
                <input type="text" id="major" name="major" placeholder="Major" required><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
